/* 3 */

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: rgb(248, 201, 238);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    min-height: 100vh;
}

.container-trafficlight {
    height: 200px;
    width: 70px;
    background-color: rgb(40, 50, 60);
    border-radius: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15p 0;
    flex-direction: column;

}

.circle {
    background-color: rgba(0, 0, 0, 0.3);
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.circle.red {
    background-color: red;
    box-shadow: 0 0 25px red; 
}

.circle.yellow {
    background-color: yellow;
    box-shadow: 0 0 25px yellow; 
}

.circle.green {
    background-color: green;
    box-shadow: 0 0 25px green; 
}