.footer {
    background-color: $dark-blue;
    padding: 36px 0 45px;

    .logo-holder-footer {
        padding: 0 0 40px 0;
    }

    .icons-list {
        padding: 0;
        margin: 0;
    }

    .icons-list-item {
    list-style: none;
    display: inline-block;
    padding: 10px;
    background: #EFEEF3;
    border-radius: 5px;
    margin-right: 8px;

        &:hover {
            background: #3DB370;
            transition-duration: 0.3s;
        }
    }  
}

.svg-sprite {
    background-image: url("../img/svg-sprite-action.svg");
    display: inline-block;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;

    .icon-second {
        background-position: -24px 0;  
    }

    .icon-third {
        background-position: -48px 0;
    }

    .icon-fourth {
        background-position: 0 -24px; 
    }

    .icon-fifth {
        background-position: 0 -48px; 
    }
}