*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'roboto';
}

.container {
    width: 100%;
    max-width: 1185px;
    padding: 0 15px;
    margin: 0 auto;
}

.main .container {
    padding-bottom: 69px;
}

.logo-holder {
    padding-top: 35px;
    padding-bottom: 48px;
    border-bottom: 1px solid #EFEEF3;
}

.logo svg path:last-of-type:hover {
    content: '';
    fill: #3DB370;
}

.p-services {
    margin: 0;
    padding: 0;
    padding: 55px 0 17px 0;
    font-size: 16px;
    color: #7690A8;
}

h1 {
    margin: 0;
    padding: 0 0 35px 0;
    font-family: 'nunito_sans';
    font-size: 40px;
    line-height: 52px;
    letter-spacing: 0.2px;
    color: #16133D;
}

.services-list {
    display: flex;
    padding-left: 0;
    justify-content: space-between;
}

.services-list li {
    list-style: none;
    padding: 41px 32px 46px 41px;
    border: 1px solid #E5EAF4;
    border-radius: 8px;
}

.services-list li:hover {
    content: '';
    border: 1px solid #3DB370;
    border-radius: 8px;
}

.svg-holder {
    border: 1px solid rgba(61, 179, 112, 0.1);
    border-radius: 16px;
    width: 64px;
    height: 64px;
    position: relative;
    transform: translate(-50%, -50%);
    margin: 41px 0 28px 30px;
}

.svg-holder svg{
    width: 38px;
    height: 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

h2 {
    margin: 0;
    padding: 0 0 14px 0;
    font-size: 24px;
    line-height: 21px;
    letter-spacing: 0.2px;
    color: #16133D;
}

.list-items-text-holder p {
    margin: 0;
    font-size: 16px;
    line-height: 28px;
    color: #16133D;
    max-width: 277px;
    padding-bottom: 29px;
}

.list-items-link-holder a {
    text-decoration: none;
    font-size: 16px;
    line-height: 19px;
    color: #16133D;
}

.footer .container {
    background-color: #16133D;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
}

.logo-holder-footer {
    padding: 36px 0 40px 0;
}

.icons-list {
    padding: 0 0 45px 0;
    margin: 0;
}

.icons-list li {
    list-style: none;
    display: inline-block;
    padding: 10px;
    background: #EFEEF3;
    border-radius: 5px;
    margin-right: 8px;
}

.svg-sprite {
    background-image: url("../img/svg-sprite-action.svg");
    display: inline-block;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
}

.svg-sprite.icon-second {
    background-position: -24px 0;  
}

.svg-sprite.icon-third {
    background-position: -48px 0;
}

.svg-sprite.icon-fourth {
    background-position: 0 -24px; 
}

.svg-sprite.icon-fifth {
    background-position: 0 -48px; 
}







