*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-family: 'pt_sans';
    font-weight: 400;
    font-size: 36px;
}

.container {
    width: 100%;
    max-width: 1822px;
    margin: 0 auto;
}

.header .container {
    background-color: pink;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

}

.flex-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.nav-list {
    display: flex;
    flex-wrap: wrap;
    width: 25%;
    justify-content: space-around;
    align-items: center;

}

.nav-list li {
    list-style: none;
}

.nav-list li:first-of-type {
    padding-top: 10px;
}

.nav-list-items a {
    text-decoration: none;
    font-family: 'roboto';
    font-size: 20px;
    color: black;
}

.logo-holder {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
}

.logo-holder img{
    width: 243px;
    height: 55px;
}


.main .container {
    position: relative;
    padding-top: 128px;
}

.left-side {
    position: sticky;
    top: 128px;
    width: 35%;
    background-color: aquamarine;
}

.descr-headers-left-side {
    font-family: 'roboto';
    font-weight: 900;
    margin-bottom: 92px;
}

.right-side {
    width: 65%;
    background-color: aqua;
    position: absolute;
    right: 0;
    top: 128px;
}

dl, dt, dd {
    margin: 0;
    padding: 0;
}

.description-headers {
    font-family: 'roboto';
    font-weight: 900;
}

.undrln {
    text-decoration: underline;
}

.react-list {
    padding: 0;
}

.react-list-headers {
    font-family: 'pt_sans';
    font-weight: 700;
}

.react-list-items {
    list-style: none;
}

.react-list-items::before{
    content: '+ ';
}

.bcgrnd-clr {
    background-color: #EDEDED;
}




