.footer {
    .container {
        border-top: 1px solid rgba(188, 208, 229, 0.496913);
        padding-top: 30px;
        font: $poppins;

        @include media ('>=768px') {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            padding-top: 102px;

            & :last-of-type {
                align-self: flex-end;
            }
        }

        .img-holder {
            margin-bottom: 10px;
            max-width: 120px;

            @include media ('>=768px') {
                max-width: 185px;
            }
        }

        .nav-footer-list {
            list-style: none;
            margin-bottom: 15px;

            @include media ('>=768px') {
                column-count: 2;
            }

            .nav-footer-link {
                text-decoration: none;
                font-weight: 400;
                font-size: 14px;
                line-height: 30px;
                color: $light-black;
                padding-left: 25px;

                @include media ('>=768px') {
                    font-size: 16px;
                    line-height: 35px;
                }  
            }
        }

      .footer-form {
          padding-left: 25px;
          display: flex;
          flex-wrap: wrap;
          flex-direction: column;

          .input-form {
              margin-bottom: 10px;
              max-width: 157px;
              background: #FFFFFF;
              border: 1px solid #BCD0E5;
              border-radius: 4px;

              @include media ('>=768px') {
                max-width: 325px;
              }
          }

          .btn-xl {
              max-width: 131px;
              max-height: 39px;
              font-size: 16px;
              padding: 10px 20px;
              text-align: start;
          }
      }  
    }
}

