.search-section {
    padding: 132px 0 50px 0;
    background-size: cover;
    min-height: 100vh;

    @include media ('>=768px') {
        padding: 264px 0 132px 0;
    }

    .container {
        text-align: center;

        h1 {
            font-family: $josefin;
            font-weight: 700;
            font-size: 26px;
            line-height: 18px;
            letter-spacing: 4.8px;
            text-transform: uppercase;
            color: $white;
            margin-bottom: 10px;
            
            @include media ('>=768px') {
                font-size: 48px;
                line-height: 26px;
            }
        }

        .under-title-text {
            font-family: $josefin;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 4.82px;
            color: $white;
            padding-bottom: 20px;

            @include media ('>=768px') {
                font-size: 22px;
                line-height: 26px;
                padding-bottom: 48px;
            }
        }
    }
}

.search-form {
    max-width: 653px;
    margin: 0 auto;
    margin-bottom: 56px;

    @include media ('>=768px') {
        margin-bottom: 108px;
    }

    input {
        border: none;
        width: 100%;
        max-width: 250px;
        height: 30px;
        color: $grey;
        font-family: $josefin;
        font-weight: 400;
        font-size: 8px;
        line-height: 20px;
        letter-spacing: 2.8px;
        padding-left: 5px;
        outline: none;
        text-align: center;
        margin-bottom: 5px;

        &:focus {
            border: 2px solid $blue;
        }

        @include media ('>=768px') {
            max-width: 503px;
            height: 63px;
            font-size: 14px;
            line-height: 26px; 
        }
    }

    button {
        border: none;
        max-width: 153px;
        height: 30px;
        color: $white;
        background-color: $blue;
        font-family: $aleo;
        font-size: 8px;
        line-height: 22px;
        letter-spacing: 1.4px;
        text-transform: uppercase;

        @include media ('>=768px') {
            width: 153px;
            height: 63px;
            font-size: 14px;
            line-height: 26px;
            margin-left: -8px;
            border: 2px solid $white;

        }

        i { 
            @include media ('>=768px') {
                font-size: 14px;
            }
        }
    }
}

.scroll {
    font-family: $josefin;
    font-size: 12px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 2.8px;
    color: $white;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    
    @include media ('>=768px') {
        font-size: 14px;
        line-height: 26px;
    }

    i {
        font-size: 8px;

        @include media ('>=768px') {
            font-size: 10px;

        }
    }
}


