*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.container {
    max-width: 1203px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

img {
    display: block;
    max-width: 100%;
}

.book-button-holder {
    font-family: $aleo;
    font-weight: 400;
    padding-bottom: 30px;

    @include media ('>=768px') {
        padding-bottom: 49px;
    }

    a {
        background-color: $blue;
        padding: 10px 30px;
        text-decoration: none;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 1.2px;
        text-transform: uppercase;
        color: $white;

        @include media ('>=768px') {
            padding: 18px 65px;
            font-size: 16px;
            line-height: 26px;
        }
    }
}