$aleo: 'aleo';
$josefin: 'josefin';
$blue: #5474FD;
$white: #fff;
$dark-white: #E8E8E8;
$light-pink: #FEFEFE;
$grey: #999999;
$brown: #333333;
$brown-opacity: rgba(35, 35, 35, 0.9);
$red: #FF6363;
$light-blue: #00A2FF;
$dark-brown: #232323;